
hr {
    height: 4px;
    margin-left: 15px;
    margin-bottom:-3px;
}
  
.hr-success{
    background-image: -webkit-linear-gradient(left, rgba(15,157,88,.8), rgba(15, 157, 88,.6), rgba(0,0,0,0));
}

.radius{
    border-radius: 35px;
}

.heading {
    font-size: 15px;
}