
.container {
    width: 1200px;
    margin: 0px auto;
    background: lightgrey;
    padding: 10px;
    border-radius: 20px;
}

.leftmenu {
    float:left;
    height: 950px;
    padding-right: 30px;
}

.btn{
    background: white;
}

img{
    width: 320px;
    height: 230px;
    border-radius: 135px;
}

@media screen and (max-width: 1199px) {
    .container{
        width: 100%;
        margin: 0px auto;
        padding: 10px;
        border-radius: 20px;
        text-align: center;
    }
    img{
        max-width:200px;
        height: auto;
    }
    .leftmenu{
        height: auto;
    }
}